src/main/app/cicddemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="127.0.0.1" port="8587" doc:name="HTTP Listener Configuration"/>
    <flow name="cicddemoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/First" doc:name="HTTP" allowedMethods="GET"/>
        <set-payload value="#[&quot;Welcome to our world.&quot;]" doc:name="Set Payload"/>
    </flow>
    <flow name="cicddemoFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/Send" allowedMethods="POST" doc:name="HTTP"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <enricher source="#[payload]" target="#[payload]" doc:name="Message Enricher">
            <set-payload value="#[payload + &quot;Sadik Ali&quot; ]" doc:name="Set Payload"/>
        </enricher>
    </flow>
    <flow name="catchFlyFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/CatchFly" allowedMethods="POST" doc:name="HTTP"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <set-payload value="#[&quot;This is my place&quot;]" doc:name="Set Payload"/>
    </flow>
</mule>
